h1 {
  font-family: "Raleway", sans-serif;
  color: #0D2c40;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-family: "Raleway", sans-serif;
  color: #0D2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
body {
  background: white;
  text-align: center;
  margin: 0;
}
img {
  margin: 40px 8px 8px 0;
}
a {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 20px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
a:hover {
  border-bottom: 2px solid white;
}
p {
  font-family: "Droid Serif", sans-serif;
  font-size: 18px;
  line-height: 26px;
}
header {
  background-color: #F15B31;
  color: white;
  padding: 30px 20px;
}
nav {
  background: #00A6B3;
  color: white;
  padding: 10px 20px;
}
main {
  width: 850px;
  margin: 35px auto;
}
footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}
.copyright{
  float: left;
  font-family: "Raleway", sans-serif;
}
.message {
  float: right;
  font-family: "Raleway", sans-serif;
}
.name {
  color: #F15B31;
  font-weight: 700;
}
.footerlink {
  color: #F15B31;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
